@{
    ViewData["Title"] = "Home Page";
}

<div id="name_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-3 col-push-2 row-fluid" style="padding:10px;">
                        @*<div>Enter your name:</div>*@
                        <input type="text" class="form-control" id="user_name" placeholder="Enter your name" />
                    </div>
                    <div class="row-fluid" id="nameSendStatus" style="color:maroon; padding-left:15px;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="save_name" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="row well" id="message_container" style="height: 300px; overflow-y: scroll; ">

</div>
<div class="row">
    <div class="col-6 col-push-3">
        <textarea class="form-control" id="request_message" rows="5"></textarea>
        <br/>
        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
                <button type="button" id="send_request" class="btn btn-info btn-block">Send</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var username;
        $('#request_message').keypress(function (e) {
            if (e.which == 13) {
                $("#send_request").trigger("click");
            }
        });
        $('#user_name').keypress(function (e) {
            if (e.which == 13) {
                $("#save_name").trigger("click");
            }
        });
        function getDivForRequest(request) {
            var currentdate = new Date(); 
            return '<div class="container-fluid" style="padding: 5px 10px; border-radius: 2px; margin: 5px;background-color: #5bc0de;">' +
                '<div class="row" style="color:grey;font-style: italic;font-weight: 600;" >'
                + '<div class="col-sm-6 col-md-6 col-lg-6">' + username + '</div>' + '<div class="col-sm-6 col-md-6 col-lg-6" style="text-align:right;">' + currentdate.getHours() + ":" + currentdate.getMinutes() + ":"
                + currentdate.getSeconds() + '</div>' +  '</div> ' +
                '<div class="row-fluid" style="color: white;word-break:break-all; ">'
                + request +
                '</p></div>';
        }

        function getDivForResponse(response) {
            var currentdate = new Date(); 
            return '<div class="container-fluid" style="padding: 5px 10px; border-radius: 2px; margin: 5px;background-color: #52c552;">'
                + '<div class="row" style="color:grey;font-style: italic;font-weight: 600;" >'
                + '<div class="col-sm-6 col-md-6 col-lg-6">' + 'Dobrobot' + '</div>' + '<div class="col-sm-6 col-md-6 col-lg-6" style="text-align:right;">' + currentdate.getHours() + ":" + currentdate.getMinutes() + ":"
                + currentdate.getSeconds() + '</div>' + '</div> ' +
             '<div class="row-fluid" style="color: white;word-break:break-all">' + response + '</div></div>';
        }

        $(document).ready(function() {
            $("div#name_modal").modal({
                backdrop: 'static',
                keyboard: false
            }).modal('show');

            $("button#save_name").click(function() {
                var val = $('input#user_name').val();
                $("#nameSendStatus").text('');
                if (val.trim() === "") {
                    //alert("Please enter your name");
                    $("#nameSendStatus").text("Please enter your name");
                    return;
                }

                $.ajax({
                    method: 'POST',
                    url: '/Home/SetUsername?userName=' + val,
                    contentType: 'application/json',
                    success: function() {
                        $("div#name_modal").modal('hide');
                        username = val;
                    },
                    error: function(res) {
                        alert(res);
                    }
                });
            });

            $("button#send_request").click(function() {
                var requestToSend = $("textarea#request_message").val();

                if (requestToSend.trim() === "") {
                    alert("Please enter request message");
                    return;
                }
                $("textarea#request_message").val("");
                $("div#message_container").append(getDivForRequest(requestToSend));
                $('div#message_container').scrollTop($('div#message_container')[0].scrollHeight);

                $.ajax({
                    method: 'GET',
                    url: '/Home/GetResponse?request=' + requestToSend,
                    contentType: 'application/json',
                    success: function(res) {
                        $("div#message_container").append(getDivForResponse(res.message));
                        $('div#message_container').scrollTop($('div#message_container')[0].scrollHeight);
                        $("textarea#request_message").val("");
                    },
                    error: function(res) {
                        alert(res);
                    }
                });
            });
        });
    </script>
}
