@{
    ViewData["Title"] = "Home Page";
}

<div id="name_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <input type="text" class="form-control" id="user_name" placeholder="Enter your name" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="save_name" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="row well" id="message_container" style="height: 300px; overflow-y: scroll; white-space:nowrap;">

</div>
<div class="row">
    <div class="col-sm-6 col-sm-push-3">
        <textarea class="form-control" id="request_message" rows="5"></textarea>
        <br/>
        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
                <button type="button" id="send_request" class="btn btn-info btn-block">Send</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function getDivForRequest(request) {
            return '<div style="padding: 5px 10px; border-radius: 2px; margin: 5px; background-color: blue;"><p style="color: white">' + request + '</p></div>';
        }

        function getDivForResponse(response) {
            return '<div style="padding: 5px 10px; border-radius: 2px; margin: 5px; background-color: green;"><p style="color: white">' + response + '</p></div>';
        }

        $(document).ready(function() {
            $("div#name_modal").modal({
                backdrop: 'static',
                keyboard: false
            }).modal('show');

            $("button#save_name").click(function() {
                var val = $('input#user_name').val();

                if (val.trim() === "") {
                    alert("Please enter your name");
                    return;
                }

                $.ajax({
                    method: 'POST',
                    url: '/Home/SetUsername?userName=' + val,
                    contentType: 'application/json',
                    success: function() {
                        $("div#name_modal").modal('hide');
                    },
                    error: function(res) {
                        alert(res);
                    }
                });
            });

            $("button#send_request").click(function() {
                var requestToSend = $("textarea#request_message").val();

                if (requestToSend.trim() === "") {
                    alert("Please enter request message");
                    return;
                }

                $("textarea#request_message").val("");
                $("div#message_container").append(getDivForRequest(requestToSend));
                $('div#message_container').scrollTop($('div#message_container')[0].scrollHeight);

                $.ajax({
                    method: 'GET',
                    url: '/Home/GetResponse?request=' + requestToSend,
                    contentType: 'application/json',
                    success: function(res) {
                        $("div#message_container").append(getDivForResponse(res.message));
                        $('div#message_container').scrollTop($('div#message_container')[0].scrollHeight);
                    },
                    error: function(res) {
                        alert(res);
                    }
                });
            });
        });
    </script>
}
